<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AdminLoginID" value ="admin"/>
    <add key="AdminPassword" value="123"/>
  </appSettings>
  <connectionStrings>
    <add name="db_1430685_CO5027_2ConnectionString" connectionString="Data Source=SQL2014.studentwebserver.co.uk;Initial Catalog=db_1430685_CO5027_2;Persist Security Info=True;User ID=user_db_1430685_CO5027_2;Password=Assignment2016" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6"/>
    </system.web>
</configuration>
